<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <title>Transdev</title>
    <link rel="stylesheet" href="/assets/custom/shared/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom/shared/stylesheets/background.css">
    <link rel="stylesheet" href="/assets/custom/transdev/sponsor/stylesheets/background.css">
    <link rel="stylesheet" href="/assets/custom/shared/tooltips.css">
    <script type="text/javascript" src="/assets/custom/shared/javascript/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/javascript/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/parsley.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/javascript/cgu.js"></script>
    <style type="text/css" media="screen">
      .hidden {
        visibility: hidden;
      }
      .parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
      .form-input {
        padding-bottom: 3px;
      }
      .text-wifi {
        font-size: 16px;
        color: black;
      }
      a {
        color: #ddedff;
      }

      #link_cgu, .text-cgu {
        color: black;
      }

      #custom_sms {
        text-align: center;
      }

      #wait-spinner {
        margin: auto;
        margin-top: 45px;
        margin-bottom: 20px;
        width: 150px;
      }

      #connect-button{
        margin: 20px;
        margin-bottom: 80px;
      }
    </style>
  </head>
  <body>
    <div id='sponsor_authorization_request_id' data-key="<%= @key %>"></div>
    <div id='redirection_url' data-url="<%= @authorization_url %>"></div>
    <div id="background_image_off"></div><!-- End Background -->

    <div id="header">
      <%= image_tag  asset_data_uri('organizations/22carnot/logo-22carnot-300x165.jpg'), class: 'img-responsive', id: 'header_logo' %>
    </div>


    <div id='auth-wait' class="">
      <div class='row text-wifi'>
        <%= t('carnot.wait.wait_header') %>
        <br />
        <%= t('carnot.wait.in_progress') %>
      </div>
      <div class='row img-wrapper'>
        <img src=/assets/custom/shared/images/wait_spinner.gif id='wait-spinner' class='img-responsive' />
      </div>
    </div>
    <div id='auth-granted' class="hidden">
      <div  class='row text-wifi'>
        <%= t('carnot.wait.authorized') %>
      </div>
      <div class='row text-wifi'>
        <a id='connect-button'class='btn btn-primary' href="<%= @authorization_url %>">
          <%= t('carnot.wait.continue') %>
        </a>
      </div>
    </div>
    <div id='new-auth' class='row text-wifi'>
      <%= link_to t('carnot.wait.request_new'),  carnot_sponsor_splash_path(params) %>
    </div>
    <form id='continue-form' action="<%= @authorization_url %>" method=GET> </form>
    <script type='text/javascript'>
      $(document).ready(function(){
        function pollServerForAuthorization(){
          var key = $('#sponsor_authorization_request_id').data('key');
          var redirection_url = $('#redirection_url').data('url');
          var poll_url = '/splash/sponsor/22carnot/verify/' + key;

          $.getJSON(poll_url, function(response) {
            if (response.authorized) {
              $('#auth-wait').addClass('hidden');
              $('#new-auth').addClass('hidden');
              $('#auth-granted').removeClass('hidden');
              setTimeout(function(){
                continue_form = document.getElementById('continue-form');
                continue_form.submit();
              }, 4500);
            } else {
              setTimeout(pollServerForAuthorization, 1500);
            }
          });
        };

        pollServerForAuthorization();
      });
    </script>
  </body>
</html>
