<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <title>Mob_hotel</title>
    <link rel="stylesheet" href="/assets/custom/shared/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom/shared/stylesheets/background.css">
    <link rel="stylesheet" href="/assets/custom/shared/tooltips.css">
    <script type="text/javascript" src="/assets/custom/shared/javascript/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/javascript/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/parsley.min.js"></script>
    <script type="text/javascript" src="/assets/custom/shared/javascript/cgu.js"></script>
    <style type="text/css" media="screen">
      .parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
      .form-input {
        padding-bottom: 3px;
      }
      .text-wifi {
        font-size: 16px;
        color: black;
      }

      #link_cgu, .text-cgu {
        color: black;
      }
    </style>
  </head>
  <body>
    <div id="background_image_disable"></div><!-- End Background -->

    <div id="header">
      <%= image_tag  asset_data_uri('organizations/mob_hotel/logo-mob_hotel-300x300.png'), class: 'img-responsive', id: 'header_logo' %>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-wifi"><%= t('form.instructions') %>
        <br><%= t('splash.facebook.or') %> <%= link_to t('splash.facebook.alternative'), alt_page('registration') %>
    </p>
    <%= render 'facebook_login' %>
  </div>

  <div id="MMD_conditions">
    <div id="MMD_conditionsHeader">
      <div class="MMD_conditionsTitre MMD_F1">Conditions Générales de Utilisation</div>
      <img id="MMD_conditionsCClick" class="MMD_conditionsClose" src="/assets/custom/shared/images/Close_btn.png" />
    </div>
    <div class="container">
      <div class="row">
        <div class="MMD_innerContent">
          <div class="MMD_conditionsTexte MMD_F1">
            <h1>WIFI MOB HOTEL,</h1>
            <h2>COMME ÇA VOUS ÊTES AU COURANT...</h2>
            <p>
              MOB HOTEL donne la possibilité d'accéder gratuitement à internet par l'intermédiaire des HOTSPOTS WIFI MOB HOTEL à condition d'accepter les dispositions ci-dessous.
            </p>
            <p>
              <b>OBLIGATIONS DES UTILISATEURS</b>
            </p>
            <p>
              Chaque utilisateur est conscient que la mise à disposition d'un accès à Internet libre et gratuit nécessite une utilisation raisonnable de l'outil. Ainsi, sans être exhaustif, l'utilisateur ne doit pas tenter de contourner les protections techniques mises en place, diffuser des propos injurieux ou diffamatoires, ou faire transiter tout contenu à caractère illicite, notamment contraire aux droits de tiers, notamment de propriété intellectuelle, à l’ordre public ou aux bonnes mœurs. L’utilisateur est seul responsable de tout préjudice direct ou indirect, matériel ou immatériel causé à des tiers du fait de son utilisation du service.
            </p>
            <p>
              Il est expressément rappelé qu'Internet n'est pas un réseau sécurisé. Dans ces conditions, l’utilisateur est seul responsable de prendre toutes les mesures appropriées de façon à protéger ses matériels, équipements, logiciels et données notamment de la contamination par d'éventuels virus circulant sur le réseau Internet ou de l'intrusion d'un tiers dans le système de son terminal (ordinateur portable, tablette, smartphone...) à quelque fin que ce soit, et de procéder sur son terminal à des sauvegardes préalablement et postérieurement à la mise en place du service. MOB HOTEL décline toute responsabilité concernant de tels événements.
            </p>
            <p>
              <b>OBLIGATIONS DE MOB HOTEL</b>
            </p>
            <p>
              L'utilisateur est averti que MOB HOTEL conserve pour une durée d’un (1) an, comme il en a l'obligation, les traces des de trafic aux fins de mise à disposition des autorités légalement habilitées, si nécessaire. Ces données sont protégées par la loi n° 78-17 du 6 janvier 1978 relative à l'Informatique, aux Fichiers et aux Libertés telle que modifiée par la loi n° 2004-801 du 6 août 2004. Vous disposez d’un droit d’accès, de rectification et de suppression de vos données pour des motifs légitimes en vous adressant à hello@mobhotel.com. La prestation fournie par MOB HOTEL est sans garantie de dommages pouvant être causés par une coupure intempestive, virus ou autre événement qui lui serait extérieur.
              MOB HOTEL se réserve le droit de bloquer l’accès à certains sites (notamment des sites de partage de fichiers, de téléchargement illégal et/ou à caractère pornographique, etc.), de décider unilatéralement d'interdire ou de couper l'accès de toute personne qui ne se conformerait pas à la présente charte, ainsi que d'en avertir toutes autorités compétentes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'splash/international_phone_formatter' %>
</body>
</html>
